body{
    display: flex;
    justify-content: center;
    background-color: #000;
}

.container{
    width: 300px;
    padding: 22px;
    text-align: center;
    border-radius: 40px;
    background: radial-gradient(circle at 10% 20%, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 90%); 
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
}

img{
    width: 80%;
    height: 100%;
    margin-top: -20px;
    }

.srh{
    display: flex;
    margin-top: 11px;

}

input{
width:200px;
height: 7px;
padding: 15px;
border-radius: 20px;  
border:none;
outline: none;
font-size: 18px;
background-color: rgb(212, 106, 238);
border: 2px solid black;
}

::placeholder{
    color:#000;
}

button{
    width:70px;
    height:41px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 20px;
background-color: rgb(242, 68, 242);
margin-left: 5px;
margin-top: 2px;
border: 2px solid black;

}


#city{
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 30px;
    color:#000;

}

#temp{
    font-size: 35px;
    margin-top: 15px;
}

#type{
    font-size: 25px;
    margin-top: -20px;
}

a{
  color:black;
  font-family:cursive;
}
